.container {
    width: 36px;
    border: 2px solid var(--tile-border);
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: -1px;
    background-color: var(--tile-background);
}

.seperator {
    border-color: var(--tile-border);
    border-style: solid;
    border-width: 1px;
    background-color: var(--tile-border);
    margin: 0;
}

.score {
    margin: 4px;
    height: 24px;
}

.end-title {
    margin: 4px 0px;
}

.correct {
    background-color: var(--color-correct) !important;
}

.present {
    background-color: var(--color-present) !important;
}

.none {
    background-color: var(--color-none) !important;
}