.scene {
    perspective: none;
}

.container {
    width: 38px;
    height: 98px;
    height: 100%;
    position: relative;
    border: 2px solid var(--tile-border);
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: -1px;
}

.face__front {
    background-color: var(--tile-background) !important;
}

.seperator {
    border-color: var(--tile-border);
    border-style: solid;
    border-width: 1px;
    background-color: var(--tile-border);
    margin: 0;
}

.score {
    margin: 4px;
    height: 24px;
    text-align: center;
}

.end-title {
    margin: 4px 0px;
}

.correct {
    background-color: var(--color-correct);
}

.present {
    background-color: var(--color-present);
}

.none {
    background-color: var(--color-none);
}