.modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    overflow: auto;
    background: var(--background);
    width: auto;
    height: auto;
    width: 90%;
    padding: 16px;
    max-width: var(--game-max-width);
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
}

.display-block {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.1s ease-in;
}

.display-none {
    visibility: hidden;
    opacity: 0;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
}