.container {
    display:flex;
    margin-bottom: 12px;
}

.input {
    width: 24px;
    background-color: var(--tile-background);
    color: white;
    font-weight: bold;
    font-size: 1.17em;
    border: none;
    text-align: center;
}

.input:focus{
    outline: none;
}