.container {
    display:flex;
    margin-bottom: 12px;
}

.input {
    width: 24px;
    height: 26px;
    background-color: var(--tile-background);
    color: white;
    font-weight: bold;
    font-size: 1.17em;
    border: none;
    text-align: center;
    padding: 0px;
}

.input:focus{
    outline: none;
}

.submit {
    background-color: var(--color-correct);
    color: white;
    width: 100%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    height: 36px;
    margin-bottom: 12px;
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

.submit:hover {
    opacity: 0.9;
}